In [333]:
import numpy as np 
import pandas as pd
import json

In [334]:
#웹에서 가져온 데이터 필터값
hyo = '1'
caff ='X'
hyang = '2'

In [335]:
meta = pd.read_csv('teaable.csv')

meta.head()

                            차품목 효능번호 카페인  향기준
0                  Bengal Spice    1   X    2
1            BerryBlossom White    1   O    1
2            Black Cherry Berry    3   X    1
3  Breakfast in Paris Black Tea    1   O  1,4
4          ButterScotch Blondie    3   O    4

In [336]:
df = pd.DataFrame(meta)
df.head()

                            차품목 효능번호 카페인  향기준
0                  Bengal Spice    1   X    2
1            BerryBlossom White    1   O    1
2            Black Cherry Berry    3   X    1
3  Breakfast in Paris Black Tea    1   O  1,4
4          ButterScotch Blondie    3   O    4

In [337]:
df.dtypes

차품목     object
효능번호    object
카페인     object
향기준     object
dtype: object

In [338]:
df.insert(2,'splithyo',df.효능번호.str.split(','))
df.insert(5,'splithyang',df.향기준.str.split(','))
df

                                 차품목 효능번호 splithyo 카페인    향기준 splithyang
0                       Bengal Spice    1      [1]   X      2        [2]
1                 BerryBlossom White    1      [1]   O      1        [1]
2                 Black Cherry Berry    3      [3]   X      1        [1]
3       Breakfast in Paris Black Tea    1      [1]   O    1,4     [1, 4]
4               ButterScotch Blondie    3      [3]   O      4        [4]
..                               ...  ...      ...  ..    ...        ...
65        요기티 Yogi Tea 스토맥 이즈 티 16티백    4      [4]   X    2,3     [2, 3]
66            요기티 Yogi Tea 진저 티 16티백  2,4   [2, 4]   X      2        [2]
67         요기티 Yogi Tea 콜드 시즌 티 16티백    4      [4]   X  2,3,4  [2, 3, 4]
68  요기티 Yogi Tea 트롯 컴포트 티 허니 레몬 16티백    4      [4]   X      1        [1]
69        요기티 Yogi Tea 피치 디톡스 티 16티백    4      [4]   X      1        [1]

[70 rows x 6 columns]

In [339]:
df.dtypes

차품목           object
효능번호          object
splithyo      object
카페인           object
향기준           object
splithyang    object
dtype: object

In [340]:
def hyo_check(nations):
    n_list = []
    
    for nation in nations:
        if nation == hyo:
            n_list.append(True)
        else:
            n_list.append(False)
            
    if np.sum(n_list)>=1:
        return True
    
    else :
        return False

In [341]:
def hyang_check(nations):
    n1_list = []
    
    for nation in nations:
        if nation == hyang:
            n1_list.append(True)
        else:
            n1_list.append(False)
            
    if np.sum(n1_list)>=1:
        return True
    
    else :
        return False

In [342]:
df.splithyo[:10].apply(hyo_check)

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: splithyo, dtype: bool

In [343]:
df.splithyang.apply(hyang_check)

0      True
1     False
2     False
3     False
4     False
      ...
65     True
66     True
67     True
68    False
69    False
Name: splithyang, Length: 70, dtype: bool

In [344]:
df.splithyo.apply(hyo_check).sum()
#검색필터 개수(효능)

13

In [345]:
(df.효능번호 =='1').sum()
#검색필터 개수(효능 중에 "," 값 제외)

8

In [346]:
df.splithyang.apply(hyang_check).sum()
#검색필터 개수(향)

23

In [347]:
#필터링 조건

cond = (df.splithyo.apply(hyo_check )) 
cond1 = (df.splithyang.apply(hyang_check ))
cond2 = df.카페인==caff


Kr_df = df[cond &cond1 &cond2]



print(Kr_df.shape)
#필터링출력값
Kr_df

(3, 6)

                          차품목 효능번호 splithyo 카페인  향기준 splithyang
0                Bengal Spice    1      [1]   X    2        [2]
11       Cinnamon Apple Spice  1,4   [1, 4]   X  1,2     [1, 2]
35  Licorice Spcie Herbal Tea    1      [1]   X  1,2     [1, 2]

In [349]:
Kr_df.차품목

0                  Bengal Spice
11         Cinnamon Apple Spice
35    Licorice Spcie Herbal Tea
Name: 차품목, dtype: object