In [52]:
import numpy as np 
import pandas as pd
import json

In [53]:
meta = pd.read_csv('teaable.csv')

meta.head()

                            차품목 효능번호 카페인  향기준
0                  Bengal Spice    1   X    2
1            BerryBlossom White    1   O    1
2            Black Cherry Berry    3   X    1
3  Breakfast in Paris Black Tea    1   O  1,4
4          ButterScotch Blondie    3   O    4

In [54]:
df = pd.DataFrame(meta)
df.head()

                            차품목 효능번호 카페인  향기준
0                  Bengal Spice    1   X    2
1            BerryBlossom White    1   O    1
2            Black Cherry Berry    3   X    1
3  Breakfast in Paris Black Tea    1   O  1,4
4          ButterScotch Blondie    3   O    4

In [80]:
df.dtypes

차품목     object
효능번호    object
카페인     object
향기준     object
dtype: object

In [83]:
df['향기준']=pd.to_numeric(df['향기준'], errors='coerce')
df['효능번호']=pd.to_numeric(df['효능번호'], errors='coerce')

In [95]:
df

                                 차품목  효능번호 카페인  향기준
0                       Bengal Spice   1.0   X  2.0
1                 BerryBlossom White   1.0   O  1.0
2                 Black Cherry Berry   3.0   X  1.0
3       Breakfast in Paris Black Tea   1.0   O  NaN
4               ButterScotch Blondie   3.0   O  4.0
..                               ...   ...  ..  ...
65        요기티 Yogi Tea 스토맥 이즈 티 16티백   4.0   X  NaN
66            요기티 Yogi Tea 진저 티 16티백   NaN   X  2.0
67         요기티 Yogi Tea 콜드 시즌 티 16티백   4.0   X  NaN
68  요기티 Yogi Tea 트롯 컴포트 티 허니 레몬 16티백   4.0   X  1.0
69        요기티 Yogi Tea 피치 디톡스 티 16티백   4.0   X  1.0

[70 rows x 4 columns]

In [94]:
df3 = df.loc[(df['효능번호'] == 2.0) & (df['카페인'] == 'O')]
df3

                                차품목  효능번호 카페인  향기준
26                        Fast Lane   2.0   O  NaN
48  Sweet Tangerine Positive Energy   2.0   O  5.0
57         Yogi Tea, Perfect Energy   2.0   O  1.0